<p><%= picture.description %></p>
<%= link_to  picture_path(picture.id), method: :get do %>
  <p class="pics"><%= image_tag picture.image.variant(resize: '500x400'), class: 'picture-image' if picture.image.attached?%></p>
<% end %>